<template>
  <v-container>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          text
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="/tiendaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a la tienda</span>
    </v-tooltip>
    <div id="card">
      <v-row class="d-flex flex-no-wrap justify-space-between">
        <v-card max-width="500" class="mb-5">
          <v-img
            class="white--text align-end"
            height="600px"
            src="@/assets/indumentaria/ATFUTS001.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            Cod. ATFUTS001
          </v-card-subtitle>
          <v-card-text>
            <h1>$ {{ precio1 }}</h1>
            <v-select :items="talle" label="Talle" dense solo></v-select>
            Cantidad<input
              v-model.number="cantidad1"
              type="number"
              id="cantidad"
            />
            <p>Total: $ {{ total1 }}</p>
            <div id="btn">
              <v-btn v-on:click="sale1()" block dark text class="red"
                >CALCULAR</v-btn
              >
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    href="https://wa.me/543816466111"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    >PEDIR</v-btn
                  >
                </template>
                <span>Pedidos por menor</span>
              </v-tooltip>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-img
            class="white--text align-end"
            height="600px"
            src="@/assets/indumentaria/ATFUTS002.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            Cod. ATFUTS002
          </v-card-subtitle>
          <v-card-text>
            <h1>$ {{ precio2 }}</h1>
            <v-select :items="talle" label="Talle" dense solo></v-select>
            Cantidad<input
              v-model.number="cantidad2"
              type="number"
              id="cantidad"
            />
            <p>Total: $ {{ total2 }}</p>
            <div id="btn">
              <v-btn v-on:click="sale2()" block dark text class="red"
                >CALCULAR</v-btn
              >
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    href="https://wa.me/543816466111"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    >PEDIR</v-btn
                  >
                </template>
                <span>Pedidos por menor</span>
              </v-tooltip>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-img
            class="white--text align-end"
            height="600px"
            src="@/assets/indumentaria/ATFUTS003.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            Cod. ATFUTS003
          </v-card-subtitle>
          <v-card-text>
            <h1>$ {{ precio3 }}</h1>
            <v-select :items="talle" label="Talle" dense solo></v-select>
            Cantidad<input
              v-model.number="cantidad3"
              type="number"
              id="cantidad"
            />
            <p>Total: $ {{ total3 }}</p>
            <div id="btn">
              <v-btn v-on:click="sale3()" block dark text class="red"
                >CALCULAR</v-btn
              >
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    href="https://wa.me/543816466111"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    >PEDIR</v-btn
                  >
                </template>
                <span>Pedidos por menor</span>
              </v-tooltip>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-img
            class="white--text align-end"
            height="600px"
            src="@/assets/indumentaria/ATFUTS004.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            Cod. ATFUTS004
          </v-card-subtitle>
          <v-card-text>
            <h1>$ {{ precio4 }}</h1>
            <v-select :items="talle" label="Talle" dense solo></v-select>
            Cantidad<input
              v-model.number="cantidad4"
              type="number"
              id="cantidad"
            />
            <p>Total: $ {{ total4 }}</p>
            <div id="btn">
              <v-btn v-on:click="sale4()" block dark text class="red"
                >CALCULAR</v-btn
              >
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    href="https://wa.me/543816466111"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    >PEDIR</v-btn
                  >
                </template>
                <span>Pedidos por menor</span>
              </v-tooltip>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    text
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
      </v-row>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          text
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="/tiendaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a la tienda</span>
    </v-tooltip>
  </v-container>
</template>

<script>
import Options from "@/Modulos/Principal/components/options.vue";
export default {
  name: "Atfuts",
  components: {
    Options,
  },
  data: () => ({
    precio1: 3500,
    precio2: 3550,
    precio3: 3465,
    precio4: 4000,
    total1: null,
    total2: null,
    total3: null,
    total4: null,
    talle: ["S", "M", "L", "XL", "XXL"],
    cantidad1: null,
    cantidad2: null,
    cantidad3: null,
    cantidad4: null,
  }),
  methods: {
    sale1() {
      this.total1 = this.precio1 * this.cantidad1;
    },
    sale2() {
      this.total2 = this.precio2 * this.cantidad2;
    },
    sale3() {
      this.total3 = this.precio3 * this.cantidad3;
    },
    sale4() {
      this.total4 = this.precio4 * this.cantidad4;
    },
  },
};
</script>

<style scoped>
#card {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}

#btn {
  text-align: center;
  padding: 2%;
}

#cantidad {
  margin-left: 5%;
  border: rgb(77, 72, 72) solid;
  width: 2.5rem;
}

p {
  margin-top: 5%;
  color: black;
  font-size: 2rem;
  text-align: center;
}
</style>  