<template>
  <v-container>
    <v-card>
      <v-img height="350px" src="@/assets/pedido-online.jpg"> </v-img>
      <v-card-title>
        <h2>CONTACTO</h2>
      </v-card-title>
    </v-card>
    <v-row id="contacto" justify="left">
      <v-col cols="12" sm="12">
        <v-list>
          <v-divider inset></v-divider>

          <v-list-item two-line>
            <v-list-item-action>
              <v-btn icon fab
                ><a id="link" href="https://wa.me/543816466111"
                  ><v-icon size="50" color="green">mdi-whatsapp</v-icon></a
                ></v-btn
              >
            </v-list-item-action>

            <v-list-item-content>
              <h1 id="contact">3816466111</h1>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item two-line>
            <v-list-item-action>
              <v-btn fab icon
                ><a
                  id="link"
                  href="mailto:dicolantonio@yahoo.com.ar?subject=Consultas%20dietas&body=Deseo%20información%20sobre%20las%20dietas"
                  ><v-icon size="50" color="dark-blue">mdi-email</v-icon></a
                ></v-btn
              >
            </v-list-item-action>
            <v-list-item-content>
              <h1 id="mail">casiasports@hotmail.com</h1>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item two-line>
            <v-list-item-action>
              <v-btn icon fab
                ><a id="link" href="https://goo.gl/maps/nzQpTeauB8iQknKL8"
                  ><v-icon size="50" color="red">mdi-map-marker</v-icon></a
                ></v-btn
              >
            </v-list-item-action>
            <v-list-item-content>
              <h1 id="contact">Combate de las piedras 1239</h1>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item two-line>
            <v-list-item-action>
              <v-btn icon fab
                ><a id="link" href="https://www.facebook.com/CasiaSports"
                  ><v-icon size="50" color="dark-blue">mdi-facebook</v-icon></a
                ></v-btn
              >
            </v-list-item-action>

            <v-list-item-content>
              <h1 id="contact">@CasiaSports</h1>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item two-line>
            <v-list-item-action>
              <v-btn icon fab
                ><a id="link" href="https://www.instagram.com/casia.arg/"
                  ><v-icon size="50" color="purple">mdi-instagram</v-icon></a
                ></v-btn
              >
            </v-list-item-action>

            <v-list-item-content>
              <h1 id="contact">@sportscasia</h1>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
    
    <script>
export default {
  name: "contacto",
};
</script>
    
    <style scoped>
#contacto {
  margin-top: 20px;
}
#link {
  text-decoration: none;
}

#contact {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
</style>