<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <options />
      <talles />
    </v-img>
    </v-container>
  </v-app>
</template>
    
<script>

import Options from '@/Modulos/Principal/components/options.vue'
import Talles from "../Components/talles.vue";

export default {
  name: "tallesV",
  components: {
    Talles,
    Options
  },
};
</script>
    
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 1000px;
}
</style>