<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <options />
      <Eventos />
    </v-img>
    </v-container>
  </v-app>
</template>
  
  <script>
import Options from "@/Modulos/Principal/components/options.vue";
import Eventos from "../Components/eventos.vue";

export default {
  name: "eventosV",
  components: {
    Eventos,
    Options,
  },
};

Options;
</script>
  
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}

</style>