<template>
  <v-container grid-list-md id="ind">
    <v-layout row wrap >
      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/indumentaria/talles.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            CALCULÁ TU TALLE
          </v-card-subtitle>
          <v-card-text>
            <v-row justify="space-around">
              <v-btn to="/tallesV" block dark text class="red">TALLES</v-btn>
            </v-row>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
      <v-card max-width="500" class="mb-5">
        <v-img class="white--text align-end" height="550px"
          src="@/assets/indumentaria/208478670_2973114142902577_6809577909685773919_n.jpg">
        </v-img>
        <v-card-subtitle id="sub" class="text--primary">
          TIENDA
        </v-card-subtitle>
        <v-card-text>
          <v-row justify="space-around">
            <v-btn to="/tiendaV" block dark text class="red">INGRESAR</v-btn>
          </v-row>
        </v-card-text>
      </v-card>
      </v-flex>

      <v-flex xs12 sm6>
      <v-card max-width="500" class="mb-5">
        <v-carousel>
          <v-carousel-item v-for="(item, i) in telas" :key="i" :src="item.src" reverse-transition="fade-transition"
            transition="fade-transition"></v-carousel-item>
        </v-carousel>

        <v-card-subtitle id="sub" class="text--primary">
          EQUIPOS PERSONALIZADOS
        </v-card-subtitle>

        <v-card-text>
          <v-row justify="space-around">
            <div>Diseñá la indumentaria para tu equipo</div>
            <v-btn block dark text class="red" to="/contactoV">PEDIR
                PRESUPUESTO</v-btn>
          </v-row>
        </v-card-text>
      </v-card>
      </v-flex>

      <v-flex xs12 sm6>
      <v-card max-width="500" class="mb-5">
        <v-carousel>
          <v-carousel-item v-for="(item, i) in conjuntos" :key="i" :src="item.src" reverse-transition="fade-transition"
            transition="fade-transition"></v-carousel-item>
        </v-carousel>

        <v-card-subtitle id="sub" class="text--primary">
          INVIERNO/VERANO
        </v-card-subtitle>

        <v-card-text>
          <v-row justify="space-around">
            <div>Indumentaria para invierno o verano</div>
            <v-btn block dark text class="red" to="/contactoV">PEDIR
                PRESUPUESTO</v-btn>
          </v-row>
        </v-card-text>
      </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
  
<script>
export default {
  name: "indumentaria",
  data: () => ({
    telas: [
      {
        src: 'https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/306637008_3314803835400271_2530040343264321943_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=aRI-thxfHVIAX_yv-gT&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfBa1sYSRr1dQ75K-l8bwZGz73FBGtJBNUoXpvwcHX9CLQ&oe=646D60E2',
      },
      {
        src: 'https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/306077042_3314803868733601_7078684322735067961_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=EN0hvB9MrJkAX9ZEE67&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDlyC2Cqwtkd72eo0a4RlobUTHJYG9uuQDO5hCmJGzxng&oe=646BD68C',
      },
      {
        src: 'https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/306568307_3316303845250270_5318986182993909476_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=v-9k6ePjePQAX97nEV6&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDYgLAw5K6mAjAUn9UCf1PJRikkRZPcs53LIHzDExahhg&oe=646D03FD',
      }
    ],
    conjuntos: [
      {
        src: 'https://scontent.ftuc1-2.fna.fbcdn.net/v/t1.6435-9/117178715_2710641299149864_8428214961131512141_n.jpg?_nc_cat=110&cb=99be929b-3346023f&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=JhZg43KYArMAX-3Q_Ba&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfCNlruLbWaWjXYRcCLSWrs5BjCJOG4JklzH5zXaPkf4xg&oe=64999E87',
      },
      {
        src: 'https://scontent.ftuc1-1.fna.fbcdn.net/v/t1.6435-9/116339492_2711518225728838_2948041314069300355_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=gIcsVL2TflwAX-PZyw4&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfB7EWqcZXQLTJsZyVi70FLO8-ZLaP0b9qIA21NAHFUkQg&oe=6499B6C8',
      },
      {
        src: 'https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/278905122_3205799362967386_4396338710109565824_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=qdhvtWPCtYgAX_djHnH&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDKVDI9heTKPYW6tX6f2yIfgch5_oEzQO16_cXW5bp6hg&oe=6477A0D7',
      },
      {
        src: 'https://scontent.ftuc1-1.fna.fbcdn.net/v/t1.6435-9/208565159_2973116496235675_2783497102372078437_n.jpg?_nc_cat=101&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=4svPTvEhUe4AX_tsKqS&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfCbXGPe7L-PZxC9tX_3IkY0IAqL8Qy0s0dMZpHitx1d_Q&oe=6499CD80',
      }

    ],
  })
};
</script>
  
<style scoped>
#ind{
  margin-top: 5%;
  margin-left: 10%;
}
#card {
  margin-top: 2%;
  text-align: center;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}

#link {
  text-decoration: none;
  color: white;
}
</style>