<template>
    <v-app>
      <v-container>
        <compra />
      </v-container>
    </v-app>
  </template>
  
  <script>
  import Compra from "@/Modulos/Indumentaria/Tienda/Compra/Components/compra.vue";
  
  export default {
    name: "CompraV",
    components: {
      Compra
    },
  };
  </script>
  
  <style scoped>
  #app {
    background-color: black;
  }
  </style>