<template>
  <v-container grid-list-md id="eventos">
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/interclubes-gimnasia-mendoza.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            INTERCLUBES GIMNASIA
          </v-card-subtitle>
          <v-card-text>
            <div>
              Torneo de gimnasia artística en mendoza 2021
            </div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/seleccion-futbol-9.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            SELECCION FUTBOL 9
          </v-card-subtitle>
          <v-card-text>
            <div>Selección que participó en el mundial de tunez 2017</div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/expo-tucuman.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            EXPO TUCUMAN
          </v-card-subtitle>
          <v-card-text>
            <div>
              Participación en la Expo Tucumán2019
            </div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/las-cañas.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            TORNEO LAS CAÑAS
          </v-card-subtitle>
          <v-card-text>
            <div>Futbol Femenino</div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/torneo-voley-tucuman.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            LIGA TUCUMANA DE VOLEY
          </v-card-subtitle>
          <v-card-text>
            <div>Torneo provincial</div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/futsal-tucuman.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            FUTSAL TUCUMAN
          </v-card-subtitle>
          <v-card-text>
            <div>
              Final liga tucumana de futsal
            </div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" max-height="800">
          <v-img height="550" class="white--text align-end"
            src="@/assets/eventos/torneo-cardales.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            TORNEO CARDALES
          </v-card-subtitle>
          <v-card-text>
            <div>
              Final
            </div>
          </v-card-text>
          <v-card-text>
            <v-btn block dark text class="red">FOTOS</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      
    </v-layout>
  </v-container>
</template>
    
<script>
export default {
  name: "eventos"
};
</script>
    
<style scoped>
#eventos{
  margin-left: 10%;
  margin-top: 5%;
}
#card {
  margin-top: 2%;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}</style>