<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <Options />
      <Atfuts />
      </v-img>
    </v-container>
  </v-app>
</template>
  
<script>
import Options from "@/Modulos/Principal/components/options.vue";
import Atfuts from "../Components/atfuts.vue";

export default {
  name: "Re001V",
  components: {
    Atfuts,
    Options,
  },
};
</script>
  
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 2400px;
}
</style>