<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
        <Options />
        <rfd001 />
      </v-img>
    </v-container>
  </v-app>
</template>
  
<script>
import Options from "@/Modulos/Principal/components/options.vue";
import rfd001 from "../Components/rfd001.vue";

export default {
  name: "rfd001V",
  components: {
    rfd001,
    Options,
  },
};
</script>
  
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 980px;
}
</style>