<template>
    <v-app>
      <v-container>
        <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
        <options />
        <tienda />
      </v-img>
      </v-container>
    </v-app>
  </template>
      
      <script>
  import Options from "@/Modulos/Principal/components/options.vue";
  import Tienda from "@/Modulos/Indumentaria/Tienda/Components/tienda.vue";
  
  export default {
    name: "tiendaV",
    components: {
      Tienda,
      Options,
    },
  };
  </script>
      
  <style scoped>
  .container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 1600px;
}
  </style>