<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <options />
      <Contacto />
    </v-img>
    </v-container>
  </v-app>
</template>
    
    <script>
import Options from "@/Modulos/Principal/components/options.vue";
import Contacto from "../Components/contacto.vue";

export default {
  name: "contactoV",
  components: {
    Contacto,
    Options,
  },
};
</script>
    
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 1000px;
}
</style>