<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
        <Options />
        <Casmfs />
      </v-img>
    </v-container>
  </v-app>
</template>
  
<script>
import Options from "@/Modulos/Principal/components/options.vue";
import Casmfs from "../Components/casmfs.vue";

export default {
  name: "CasmfsV",
  components: {
    Options,
    Casmfs,
  },
};
</script>
  
<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 950px;
}
</style>