<template>
    <v-app>
        <v-container>
            <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                    <v-btn block color="yellow" text class="black" v-on="{ ...tooltip }" to="/tiendaV">Volver</v-btn>
                </template>
                <span>Volver a la tienda</span>
            </v-tooltip>
            <div id="todo">
                <!--PROBAR CON LOS PROPS PARA ARMAR UN CARRITO DE COMPRAS-->
                <h1>Carrito de compra</h1>
                <v-list id="sub" class="text--primary">
                    <p> {{nombre}} </p>
                    <h1>$ {{ precio }}</h1>
                    <v-col class="d-flex" cols="6" sm="2" id="select" >
                        <v-select :items="talle" label="Talle" solo id="select"></v-select>
                    </v-col>
                    Cantidad<input v-model.number="cantidad" type="number" id="cantidad">
                    <p>Total: $ {{ total }}</p>
                    <div id="btn">
                        <v-btn v-on:click="sale()" block color="yellow" text class="black">CALCULAR</v-btn>
                    </div>
                    <div id="btn">
                        <v-btn  block  text class="black"> <a id="link" href="https://wa.me/543816466111"
                  >PEDIR</a></v-btn>
                    </div>
                </v-list>
            </div>
            <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                    <v-btn block color="yellow" text class="black" v-on="{ ...tooltip }" to="/tiendaV">Volver</v-btn>
                </template>
                <span>Volver a la tienda</span>
            </v-tooltip>
        </v-container>
    </v-app>
</template>
  
<script>

export default {
    name: "Carrito",
    data: () => ({
        nombre: 'codigo',
        precio: 3500,
        total: null,
        talle: ['Talle: S', 'Talle: M', 'Talle: L', 'Talle: XL', 'Talle: XXL'],
        cantidad: null,

    }),
    methods: {
        sale() {
            this.total = this.precio * this.cantidad
        }
    }

};
</script>
  
<style scoped>
#todo {
    color: white;
    text-align: center;
}

#sub {
    font-family: fantasy;
    font-size: larger;
}

#btn {
    text-align: center;
    padding: 2%;
}

#cantidad {
    margin-left: 5%;
    border: rgb(77, 72, 72) solid;
    width: 2.5rem;
}
#select{
    margin-left: 42%;    
}

p {
    margin-top: 5%;
    color: black;
    font-size: 2rem;
    text-align: center;
}
#link{
    text-decoration: none;
    color: yellow;
}
</style> 