<template>
  <v-container id="talles">
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="indumentariaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a indumentaria</span>
    </v-tooltip>
    <div id="card">
      <v-row class="d-flex flex-no-wrap justify-space-between">
        <v-card max-width="500" class="mb-5" id="men">
          <v-img
            class="white--text align-end"
            height="500px"
            src="@/assets/indumentaria/1.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            <h3>TALLE MASCULINO</h3>
          </v-card-subtitle>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <h5>Alto en cm</h5>
                <input v-model.number="altoM" type="number" id="altoM" />
                <h5>Ancho en cm</h5>
                <input v-model.number="anchoM" type="number" id="anchoM" />
                <v-btn
                  block
                  dark
                  class="red"
                  v-on:click="masculino()"
                  id="btnCal"
                  >CALCULAR</v-btn
                >
                <p>Tu Talle es: {{ talleM }}</p>
                <p>Numero: {{ numeroM }}</p>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card max-width="500" class="mb-5" id="men">
          <v-img
            class="white--text align-end"
            height="500px"
            src="@/assets/indumentaria/niños.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            <h3>TALLE INFANTIL</h3>
          </v-card-subtitle>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <h5>Alto en cm</h5>
                <input v-model.number="altoI" type="number" id="altoI" />
                <h5>Ancho en cm</h5>
                <input v-model.number="anchoI" type="number" id="anchoI" />
                <v-btn
                  block
                  dark
                  class="red"
                  v-on:click="infantil()"
                  id="btnCal"
                  >CALCULAR</v-btn
                >
                <p>Tu Talle es: {{ talleI }}</p>
                <p>Numero: {{ numeroI }}</p>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <!--FEMENINO-->

        <v-card max-width="500" class="mb-5" id="women">
          <v-img
            class="white--text align-end"
            height="500px"
            src="@/assets/indumentaria/3.jpg"
          >
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            <h3>TALLE FEMENINO</h3>
          </v-card-subtitle>
          <v-container id="calculos">
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <h5>Alto en cm</h5>
                <input v-model.number="altoF" type="number" id="altoF" />
                <h5>Ancho en cm</h5>
                <input v-model.number="anchoF" type="number" id="anchoF" />
                <v-btn
                  block
                  dark
                  class="red"
                  v-on:click="femenino()"
                  id="btnCal"
                  >CALCULAR</v-btn
                >
                <p>Tu Talle es: {{ talleF }}</p>
                <p>Numero: {{ numeroF }}</p>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-row>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="/indumentariaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a indumentaria</span>
    </v-tooltip>
  </v-container>
</template>

<script>
import Options from "@/Modulos/Principal/components/options.vue";
export default {
  name: "talles",
  components: { Options },
  data: () => {
    return {
      altoM: null,
      anchoM: null,
      numeroM: null,
      talleM: null,
      altoI: null,
      anchoI: null,
      numeroI: null,
      talleI: null,
      altoF: null,
      anchoF: null,
      numeroF: null,
      talleF: null,
      dialog: false,
    };
  },
  methods: {
    masculino() {
      this.numeroM = parseInt(this.altoM) + parseInt(this.anchoM);
      if (this.numeroM <= 121) {
        this.talleM = "Talle S";
      } else if (this.numeroM <= 128) {
        this.talleM = "Talle M";
      } else if (this.numeroM <= 134) {
        this.talleM = "Talle L";
      } else if (this.numeroM <= 140) {
        this.talleM = "Talle XL";
      } else if (this.numeroM <= 146) {
        this.talleM = "Talle XXL";
      } else if (this.numeroM > 146) {
        this.talleM = "Talle XXXL";
      }
    },
    infantil() {
      this.numeroI = parseInt(this.altoI) + parseInt(this.anchoI);
      if (this.numeroI <= 80) {
        this.talleI = "Talle S";
      } else if (this.numeroI <= 87) {
        this.talleI = "Talle M";
      } else if (this.numeroI <= 93) {
        this.talleI = "Talle L";
      } else if (this.numeroI <= 99) {
        this.talleI = "Talle XL";
      } else if (this.numeroI <= 105) {
        this.talleI = "Talle XXL";
      } else if (this.numeroI > 106) {
        this.talleI = "Talle XXXL";
      }
    },
    femenino() {
      this.numeroF = parseInt(this.altoF) + parseInt(this.anchoF);
      if (this.numeroF <= 101) {
        this.talleF = "Talle S";
      } else if (this.numeroF <= 108) {
        this.talleF = "Talle M";
      } else if (this.numeroF <= 114) {
        this.talleF = "Talle L";
      } else if (this.numeroF <= 120) {
        this.talleF = "Talle XL";
      } else if (this.numeroF <= 126) {
        this.talleF = "Talle XXL";
      } else if (this.numeroF > 136) {
        this.talleF = "Talle XXXL";
      }
    },
  },
};
</script>

<style scoped>
#card {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}

h3 {
  text-align: center;
}

#altoM {
  border: solid;
  margin-bottom: 2px;
}

#anchoM {
  border: solid;
  margin-top: 2px;
}
#altoI {
  border: solid;
  margin-bottom: 2px;
}

#anchoI {
  border: solid;
  margin-top: 2px;
}

#altoF {
  border: solid;
  margin-bottom: 2px;
}

#anchoF {
  border: solid;
  margin-top: 2px;
}

#btnCal {
  margin-top: 3px;
}

p {
  padding: 5px;
}
</style>