<template>
  <v-app>
  <v-container>
    <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
    <options/>
    <Cliente />
  </v-img>
  </v-container>
</v-app>
</template>
  
  <script>
import Options from '@/Modulos/Principal/components/options.vue';
import Cliente from "../Components/cliente.vue";

export default {
  name: "clienteV",
  components: {
    Cliente,
    Options,
  },
};
</script>
  
  <style scoped>
  .container {
  max-width: 100vw;
  padding: 0px;
}

</style>