<template>
  <v-container>
    <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <v-speed-dial v-model="fab">
        <template v-slot:activator>
          <v-row align-items="center" justify="space-around" id="ingreso">
            <v-btn v-model="fab" color="red" dark rounded large>
              <v-icon v-if="fab"> mdi-close </v-icon>
              <v-icon v-else> Ingresar </v-icon>
            </v-btn>
          </v-row>
        </template>
        <v-btn dark color="red" rounded to="principalV" large>
          <v-icon>Historia</v-icon>
        </v-btn>
        <v-btn dark rounded color="red" to="clienteV" large>
          <v-icon>Clientes</v-icon>
        </v-btn>
        <v-btn dark rounded color="red" to="IndumentariaV" large>
          <v-icon>Indumentaria</v-icon>
        </v-btn>
        <v-btn dark rounded color="red" to="eventosV" large>
          <v-icon>Eventos</v-icon>
        </v-btn>
        <v-btn dark rounded color="red" to="ContactoV" large>
          <v-icon>Contacto</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-img>
  </v-container>
</template>

<script>
import Options from "@/Modulos/Principal/components/options.vue";
export default {
  name: "Home",
  components: {
    Options,
  },
};
</script>

<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 1000px;
}
#ingreso {
  margin-top: 950px;
}
</style>  