<template>
  <v-app>
    <v-container>
      <v-img alt="logo" src="@/assets/logo-nuevo.jpg" id="logo">
      <Page />
    </v-img>
    </v-container>
  </v-app>
</template>

<script>
import Page from "../components/page.vue";

export default {
  name: "principalV",
  components: {
    Page,
  },
};
</script>

<style scoped>
.container {
  max-width: 100vw;
  padding: 0px;
}
#logo {
  max-width: 1920px;
  max-height: 1000px;
}
</style>