<template>
  <v-container grid-list-md id="cliente">
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5" >
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/argentinos-del-norte.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            ARGENTINOS DEL NORTE
          </v-card-subtitle>
          <v-card-text>
            <div>
              Club participante de la 1° división de la Liga Tucumana de Futbol
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/fc-callejeras.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            F.C. CALLEJERAS
          </v-card-subtitle>
          <v-card-text>
            <div>Club participante del torneo Amateur de Futbol Femenino</div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/san-martin-futsal.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">CLUB ATLETICO SAN MARTIN
          </v-card-subtitle>
          <v-card-text>
            <div>
              Club participante de la 1° división de la Liga Tucumana de Futsal
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/taladro-fc.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            TALADRO F.C.
          </v-card-subtitle>
          <v-card-text>
            <div>Club participante de la Liga Amateur de Futbol Tucumano</div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/deportivo esquina.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            DEPORTIVO ESQUINA
          </v-card-subtitle>
          <v-card-text>
            <div>
              Club participante de la Liga Amateur de Futbol Tucumano
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/la-barra-fc.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            LA BARRA F.C.
          </v-card-subtitle>
          <v-card-text>
            <div>
              Club participante de la Liga Amateur de Futbol Tucumano
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card max-width="500" class="mb-5">
          <v-img class="white--text align-end" height="550px" src="@/assets/clientes/club-san-fernando.jpg">
          </v-img>
          <v-card-subtitle id="sub" class="text--primary">
            CLUB SAN FERNANDO
          </v-card-subtitle>
          <v-card-text>
            <div>
              Club participante de la 1° división de la Liga Tucumana de Futbol
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  name: "cliente"

};
</script>

<style scoped>

#cliente{
  margin-left: 10%;
}
#card {
  margin-top: 2%;
  text-align: center;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}
</style>