<template>
  <v-conteiner>
    <v-card>
    <v-flex md12 sm6>
    <v-toolbar color="light-blue" app>
      <v-spacer></v-spacer>
      <v-btn text to="/">Inicio</v-btn>
      <v-btn text to="/principalV">Historia</v-btn>
      <v-btn text to="/clienteV">Clientes</v-btn>
      <v-btn text to="/indumentariaV">Indumentaria</v-btn>
      <v-btn text to="/eventosV">Eventos</v-btn>
      <v-btn text to="/contactoV">Contacto</v-btn>
    </v-toolbar>
  </v-flex>
    </v-card>
  </v-conteiner>
</template>



<script>
export default {
  name: "options",
};
</script>

<style scoped>
#bar {
  border: solid; 
}
</style>