<template>
  <v-main>
    <Options />
    <v-container grid-list-md>
      <v-layout>
        <v-flex xs12 sm12>
          <div id="card">
            <v-card class="mx-auto my-12" max-width="1200" max-height="1500">
              <h1 class="font-italic">NUESTRA HISTORIA</h1>
              <v-card-text>
                <div>
                  <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iusto iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iusto iste, ipsum nihil
                    laudantium quidem est quaerat ipsam laborum, beatae omnis
                    provident blanditiis a maxime placeat ex! Necessitatibus
                    fugiat quos quis! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Iusto iste, ipsum nihil laudantium quidem
                    est quaerat ipsam laborum, beatae omnis provident blanditiis
                    a maxime placeat ex! Necessitatibus fugiat quos quis! Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Iusto
                    iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Obcaecati quia tempore,
                    iusto, veritatis repellat fugit odio quae commodi corrupti
                    laborum dolor sequi ipsam. Soluta debitis omnis, aspernatur
                    eligendi quaerat dolor. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Dolore quas necessitatibus
                    illo quae neque distinctio corrupti at ratione eligendi
                    cumque. Id rerum dolore optio excepturi fuga reiciendis
                    ducimus, recusandae blanditiis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ea libero commodi laudantium
                    numquam mollitia, at eaque itaque reprehenderit aliquam
                    impedit, nisi aspernatur, odio excepturi placeat minus
                    laborum officiis ipsam accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iusto iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iusto iste, ipsum nihil
                    laudantium quidem est quaerat ipsam laborum, beatae omnis
                    provident blanditiis a maxime placeat ex! Necessitatibus
                    fugiat quos quis! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Iusto iste, ipsum nihil laudantium quidem
                    est quaerat ipsam laborum, beatae omnis provident blanditiis
                    a maxime placeat ex! Necessitatibus fugiat quos quis! Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Iusto
                    iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Obcaecati quia tempore,
                    iusto, veritatis repellat fugit odio quae commodi corrupti
                    laborum dolor sequi ipsam. Soluta debitis omnis, aspernatur
                    eligendi quaerat dolor. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Dolore quas necessitatibus
                    illo quae neque distinctio corrupti at ratione eligendi
                    cumque. Id rerum dolore optio excepturi fuga reiciendis
                    ducimus, recusandae blanditiis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ea libero commodi laudantium
                    numquam mollitia, at eaque itaque reprehenderit aliquam
                    impedit, nisi aspernatur, odio excepturi placeat minus
                    laborum officiis ipsam accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iusto iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iusto iste, ipsum nihil
                    laudantium quidem est quaerat ipsam laborum, beatae omnis
                    provident blanditiis a maxime placeat ex! Necessitatibus
                    fugiat quos quis! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Iusto iste, ipsum nihil laudantium quidem
                    est quaerat ipsam laborum, beatae omnis provident blanditiis
                    a maxime placeat ex! Necessitatibus fugiat quos quis! Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Iusto
                    iste, ipsum nihil laudantium quidem est quaerat ipsam
                    laborum, beatae omnis provident blanditiis a maxime placeat
                    ex! Necessitatibus fugiat quos quis! Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Obcaecati quia tempore,
                    iusto, veritatis repellat fugit odio quae commodi corrupti
                    laborum dolor sequi ipsam. Soluta debitis omnis, aspernatur
                    eligendi quaerat dolor. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Dolore quas necessitatibus
                    illo quae neque distinctio corrupti at ratione eligendi
                    cumque. Id rerum dolore optio excepturi fuga reiciendis
                    ducimus, recusandae blanditiis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ea libero commodi laudantium
                    numquam mollitia, at eaque itaque reprehenderit aliquam
                    impedit, nisi aspernatur, odio excepturi placeat minus
                    laborum officiis ipsam accusamus.
                  </h3>
                </div>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-main>
</template>
  
  <script>
import Options from "./options.vue";
export default {
  name: "page",
  components: { Options },
};
</script>
  
  <style lang="stylus" scoped>
  #page {
    margin-top: 150px;
    margin-left: 20px;
  }

  #card {
    margin-top: 100px;
    text-align: center;
  }

  h1 {
    text-decoration-line: underline;
  }
</style>
  