<template>
    <v-app>
        <v-container>
            <options />
            <carrito />
        </v-container>
    </v-app>
</template>
    
<script>
import Options from "@/Modulos/Principal/components/options.vue";
import Carrito from "@/Modulos/Carrito/Components/carrito.vue";

export default {
    name: "CarritoV",
    components: {
        Carrito,
        Options,
    },
};

Options;
</script>
    
<style scoped>
#app {
    background-color: black;
}
</style>