<template>
    <v-app>
      <v-container>
        <Options />
        <v-row>
          <div>
            <h1 class="white--text">GRACIAS POR SU COMPRA!!!</h1>
            <img alt="logo-casia" src="@/assets/logo-casia-2.jpg" id="img" />
            <div>
            <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                             <v-btn color="primary" v-on="{ ...tooltip}" v-bind="attrs" to="/tiendaV">Volver</v-btn>
                            </template>
                            <span>Volver a la tienda</span>
                        </v-tooltip>
                      </div>
          </div>
        </v-row>
      </v-container>
    </v-app>
  </template>
  
  <script>
  import Options from "@/Modulos/Principal/components/options.vue";
  export default {
    name: "Compra",
    components: {
      Options,
    },
  };
  </script>
  
  <style scoped>
  #app {
    background-color: black;
    background-size: cover;
    text-align: center;
  }
  #img {
    margin-top: 2%;
    width: 25%;
    height: 60%;
  }
  #historia {
    margin-top: 10px;
    border: solid;
    border-color: yellow;
  }
  #clientes {
    margin-top: 40px;
    border: solid;
    border-color: yellow;
  }
  #indumentaria {
    margin-top: 40px;
    border: solid;
    border-color: yellow;
  }
  #eventos {
    margin-top: 40px;
    border: solid;
    border-color: yellow;
  }
  #contacto {
    margin-top: 40px;
    border: solid;
    border-color: yellow;
  }
  h1{
    margin-top: 2%;
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
  }
  </style>  