<template>
  <v-container>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="/indumentariaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a la tienda</span>
    </v-tooltip>
    <div id="card">
      <v-row class="d-flex flex-no-wrap justify-space-between">
        <v-card max-width="500" class="mb-5">
          <v-carousel>
            <v-carousel-item
              v-for="(item, i) in atfuts"
              :key="i"
              :src="item.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
            ></v-carousel-item>
          </v-carousel>
          <v-card-subtitle id="sub" class="text--primary">
            Selección Tucumana de Futsal
          </v-card-subtitle>

          <v-card-text>
            <div id="btn">
              <v-btn block dark class="red" to="/atfutsV">PEDIR</v-btn>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-carousel>
            <v-carousel-item
              v-for="(item, i) in items"
              :key="i"
              :src="item.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
            ></v-carousel-item>
          </v-carousel>

          <v-card-subtitle id="sub" class="text--primary">
            Remera Entrenamiento
          </v-card-subtitle>
          <v-card-text>
            <div id="btn">
              <v-btn block dark class="red" to="/re001V">PEDIR</v-btn>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-carousel>
            <v-carousel-item
              v-for="(item, i) in casmfs"
              :key="i"
              :src="item.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
            ></v-carousel-item>
          </v-carousel>
          <v-card-subtitle id="sub" class="text--primary"
            >San Martín de Tucumán Futsal
          </v-card-subtitle>
          <v-card-text>
            <div id="btn">
              <v-btn block dark class="red" to="/casmfsV">PEDIR</v-btn>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
        <v-card max-width="500" class="mb-5">
          <v-carousel>
            <v-carousel-item
              v-for="(item, i) in rfd001"
              :key="i"
              :src="item.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
            ></v-carousel-item>
          </v-carousel>
          <v-card-subtitle id="sub" class="text--primary">
            Camiseta Fútbol Dama
          </v-card-subtitle>

          <v-card-text>
            <div id="btn">
              <v-btn block dark class="red" to="/rfd001V">PEDIR</v-btn>
            </div>
            <div id="btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    block
                    dark
                    class="red"
                    v-on="{ ...tooltip }"
                    v-bind="attrs"
                    to="/contactoV"
                    >PEDIDOS ESPECIALES</v-btn
                  >
                </template>
                <span>Pedidos por mayor y variedad</span>
              </v-tooltip>
            </div>
          </v-card-text>
        </v-card>
      </v-row>
    </div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          block
          dark
          class="red"
          v-on="{ ...tooltip }"
          v-bind="attrs"
          to="/indumentariaV"
          >Volver</v-btn
        >
      </template>
      <span>Volver a la tienda</span>
    </v-tooltip>
  </v-container>
</template>
    
<script>
export default {
  name: "tienda",
  data: () => ({
    items: [
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/322590019_1522011484977341_5404530903957802338_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=EHxllSrlBa0AX-WHfc0&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDAXmm3ZP1O6TTsqzLkrhrWHQyX6EqUmqCJ9Vxz-Qzvzg&oe=64782D85",
      },
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/323786452_3494979357400685_8337367484298620711_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=CwsINor_5vgAX9AvZ3g&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfClPgWKJAwF-l0WOnV8HDQafCQWIvazPswdE5lpqRzZsQ&oe=64772185",
      },
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/322192969_538549908222135_3882316895891661115_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=26OSKeSjZLQAX8HLgiv&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfBAScTtZxif-oNsT3wuF8lb5aLHhzPGgksHMv3194oTUA&oe=6477D1E9",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/324187224_914707026209184_8716269568121541022_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=D56nOEMSMoEAX_Cwck4&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDMr8mxjEAJeALz8DKZgTJcu5YJLGaGlpWEflFQ2NSefg&oe=6476AC4F",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/321958476_933582761337446_6553391726109675661_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=IK7qb3c5nrAAX-cWCYe&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfCqy2pVuhKVFE9_lhjvaUdNJM5z6JdJxJJo_uqwAWlD4Q&oe=6477611B",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/323698409_928667438507014_7024394195504123360_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=oqL5pfIIsFIAX-vEaZJ&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfDa0qaYEz3VDjJdNSUSHal12UuvYE5BmOS8z49XOZ3MIw&oe=64769947",
      },
    ],
    rfd001: [
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/306568307_3316303845250270_5318986182993909476_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=w2z9ZtiS8c0AX9hKy6e&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfBfG0DuEfn5_0XRA6ANfEi8w9BoV8QVdzEYNncXNZVWdg&oe=6476E73D",
      },
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/296806374_3283107815236540_2180437189310476346_n.jpg?_nc_cat=102&cb=99be929b-3346023f&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=_icW2lPmVDcAX8bAy5A&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfAZZyztRbwMRR2xqqPD-5beK740TXRf59UvvwicJp9DAg&oe=6476AB9B",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/297579361_3287640614783260_320236738493099804_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0PfJ6dH5AX0AX_MMoDL&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfBnFJrWkBpk8hgiHB6mNDeXO5ldxhJo9vOExTiIkx1f0Q&oe=64773051",
      },
    ],
    atfuts: [
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/279346460_3205799096300746_9014474934489549393_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=82Y_MxyvPz4AX9Qa3id&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfAC5EucTozawBwE2bt2-vPyZX8EV5tNSighTAnF9QHWbQ&oe=6476F389",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/279251844_3205799092967413_2398871158679583590_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=7elbTczcwa0AX9wLTxL&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfAfd7NRqugw_WBR97zwvEfGBHqp0M8EQ81e2_76Ip9icg&oe=64779647",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/310244279_3329115363969118_8973261438971569600_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=-eYjq1zF02wAX8jQTLM&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfAUVQHLSKDeW3HgKYecPoqe0A0wjpK7KzMr8-B8CWLOAQ&oe=6477298B",
      },
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/322167141_5630302047087315_8080924475410386814_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=pENA_zTXvmsAX_KFETq&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfAF85BPD0VFRhajtfYcRBlNdz5ukZs3sf6QkiEMBwVG2Q&oe=6476F07D",
      },
    ],
    casmfs: [
      {
        src: "https://scontent.ftuc1-1.fna.fbcdn.net/v/t39.30808-6/315327611_816002513027925_8206791471019633892_n.jpg?_nc_cat=108&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=BknDx53VllAAX8PhKxL&_nc_pt=1&_nc_ht=scontent.ftuc1-1.fna&oh=00_AfCiMNTVPHumWb_qkL9ERNqLLN43NVPtbM-x3uuITSczqQ&oe=6477103F",
      },
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/314596513_816002493027927_8037722632753064975_n.jpg?_nc_cat=109&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=lgdma2kB2ZIAX_bSqSY&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfBgO24iUo8MrnrBUrF9frR_HAFCAU7M-UMff8T4Ichu6w&oe=64769F36",
      },
      {
        src: "https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/315100822_816002479694595_4537264848978285936_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=CTtEkOakVvoAX999nop&_nc_pt=1&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfCgq25HHYx3Cm8KjnEUpWFeODb5whW0fP2mFxVv3D0Acw&oe=64765F62",
      },
    ],
  }),
  methods: {
    sale() {
      this.total = this.precio * this.cantidad;
    },
  },
};
</script>
    
<style scoped>
#card {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

#sub {
  font-family: fantasy;
  font-size: larger;
}

#btn {
  text-align: center;
  padding: 2%;
}

#cantidad {
  margin-left: 5%;
  border: rgb(77, 72, 72) solid;
  width: 2.5rem;
}

p {
  margin-top: 5%;
  color: black;
  font-size: 2rem;
  text-align: center;
}
</style>